<div class="container">

	<h1>Recipe Share</h1>

	<p>Login</p>
	<ul id="login_form">
		<%= form_for :session, url: login_path do |f| %>
		  <li><%=f.text_field :email, placeholder: "example@gmail.com"%></li>
		  <li><%=f.password_field :password, placeholder: "password"%></li>
		  <li><%=f.submit "Login"%></li>
	  <%end%>
	</ul>

	<%=link_to "Create an account", new_user_path%>
</div>