<!-- create new recipe -->

<div class="container">

<h1>Create a new recipe</h1>

  <ul id="recipe_form">
    <%= form_for :recipe, url: add_recipe_path do |f|%>
      <li><%=f.text_field :title, placeholder: "Title"%></li>
      <li><%=f.text_area :description, placeholder: "Description (optional)"%></li>
      <li><%=f.text_area :ingredients, placeholder: "List of ingredients"%></li>
      <li><%=f.text_area :directions, placeholder: "Directions"%></li>
      <li><%=f.submit "Add recipe"%></li>

      <%end%>
  </ul>



</div>