<!-- single recipe by chef -->

<div class="container">

<ul id="single_recipe">
  <h1>Single recipe view:</h1>
    <li><h1>Title: <%=@recipe.title%></h1></li>
    <li>Chef: <%=@recipe.user.first_name + " " + @recipe.user.last_name %></li>
    <li>Date: <%=@recipe.date_posted%></li>
    <li>Description: <%=@recipe.description%></li>
    <li>Ingredients: <%=@recipe.ingredients%></li>
    <li>Directions: <%=@recipe.directions%></li>
</ul>


<% if session[:user_id] == @recipe.user_id%>
	<p><%= link_to "Delete", recipe_path(@recipe.id), method: :delete%><p>
	<p><%= link_to "Edit", recipe_path(@recipe.id), method: :put %></p>

	<p><%=render "form"%></p>
<%end%>


<p><%=link_to "Add recipe", new_recipe_path %></p>
<p><%=link_to "View recent recipes", recipes_path %></p>


</div>