<!-- single recipe by chef -->

<div class="container">

    <ul id="single_recipe">
      <h1>Single recipe view:</h1>
        <li><h1><%=@recipe.title%></h1></li>
        <li>Chef: <%= link_to @recipe.user.first_name + " " + @recipe.user.last_name, user_chef_recipes_path(@recipe.user_id) %></li>
        <li>Date: <%=@recipe.date_posted%></li>
        <li>Description: <%=@recipe.description%></li>
        <li>Ingredients: <%=@recipe.ingredients%></li>
        <li>Directions: <%=@recipe.directions%></li>
    </ul>

<ul>
    <% if session[:user_id] == @recipe.user_id%>
    	<li><%= link_to "Delete", user_recipe_path(@recipe.user_id,@recipe.id), method: :delete%></li>
    	<li><%= link_to "Edit" %></li>
        <!-- Show edit form on "Edit" click -->
    	<%=render "form"%>
    <%end%>
</ul>

</div>