<div class="container">

	<h1>Recipe Share</h1>

	<p>Create an account</p>

	<ul id="create_account_form">
		<%= form_for @user,  url: { action: "create" } do |f| %>
		  <li><%=f.text_field :first_name, placeholder: "First name"%></li>
		  <li><%=f.text_field :last_name, placeholder: "Last name"%></li>
		  <li><%=f.text_field :email, placeholder: "example@gmail.com"%></li>
		  <li><%=f.password_field :password, placeholder: "password"%></li>
		  <li><%=f.submit "Create account", data: {confirm: "Thank you for creating an account. Click ok to log in."}%></li>
	  <%end%>
	</ul>


</div>