<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Share</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>

  <%= yield %>

  <nav class="nav-options">
    <ul>
      <% if session[:user_id] %>
      <li><%=link_to "Add recipe", new_user_recipe_path(session) %></li>
      <li><%=link_to "My Recipes", user_my_recipes_path(session) %></li>
      <li><%=link_to "Recent Recipes", recipes_path %></li>
      <li><%=link_to "Log Out", logout_path , method: :delete%></li>
      <%end%>
    </ul>
  </nav>

  </body>
</html>
